* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    background-color: #F8F9FA;
}

.contTop {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconBox {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.iconBox i {
    width: 18%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 100px;
}

.contact {
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contact i {
    color: #BA470C;
}

.headerBtm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

.contBtm {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 span {
    color: red;
}

.contBtm nav {
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}
nav ul li a:hover { 
    color: orange;
    transition: .2s;
}

.bar {
    display: none;
}


#SecTwo {
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://preview.colorlib.com/theme/selling/images/hero_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contTwo {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.write {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 50%;

}

.write h1 {
    font-size: 80px;
    font-weight: 900;
    color: white;
}

.write p {
    font-size: 20px;
    font-weight: 300;
    color: white;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: start;

}

.btn {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btnOne {
    padding: 16px;
    width: 50%;
    font-size: 12px;
    font-weight: 900;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    transition: 0.5s;
}

.btnOne:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.btnTwo {
    padding: 16px;
    width: 55%;
    border: 2px solid white;
    color: black;
    font-size: 12px;
    font-weight: 900;
    transition: 0.5s;
}

.btnTwo:hover {
    color: white;
    background-color: transparent;
    transition: 0.5s;
}

#secThree {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.textOne {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.textOne h3 {
    font-size: 13px;
    font-weight: 700;
    color: rgb(173, 181, 189);
}

.textOne h1 {
    font-size: 40px;
    font-weight: 900;
    color: black;
}

.textOne p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(128, 128, 128);
    line-height: 27px;
    text-align: center;
}

#secFour {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.contFour {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 40px;
    gap: 20px;
}

.card {

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.imgg img {
    width: 100%;
    transition: 0.3s ease;

}

.card h3 {
    font-weight: 500;
    font-size: 18px;
    transition: 1s;
}

.card h3:hover {
    cursor: pointer;
    transition: 1s;
    color: rgb(241, 104, 33);
}

.card .imgg {
    position: relative;
    overflow: hidden;
}



.imgg:hover img {
    transform: scale(1.3);

}

.icnn {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card p {
    text-align: center;
    color: rgb(128, 128, 128);
    font-size: 13px;
    font-weight: 400;
}

.btnn {

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.but {
    width: 45%;
    font-size: 12px;
    font-weight: 900;
    color: white;
    background-color: black;

    padding: 10px;
    transition: 0.5s;
}

.but:hover {
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
    color: black;

}

.bat {
    width: 45%;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 10px;
    transition: 0.5s;
}

.bat:hover {
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
    color: white;

}

#secFive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-image: url('https://preview.colorlib.com/theme/selling/images/hero_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(0.5px);
   
}

.contFive {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textFive {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 40px;
    gap: 20px;
    position: relative;
}

.textFive h2 {
    font-size: 30px;
    font-weight: 500;
    color: white;

}

.inp {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.inp input {
    width: 80%;
    padding: 10px;
    border: 3px solid white;
    background-color: transparent;
    outline: none;
    font-style: italic;
    font-size: 16px;
    color: #F8F9FA;
}

.inp button {
    width: 20%;
    padding: 10px;
    border: 4px solid white;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: transparent;
    transition: .3s;
}

.inp button:hover {
    background-color: white;
    color: black;
    transition: .3s;
}

.textFive p {
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-align: center;
}


#secSix {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.textSix {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 10px;

}

.textSix h3 {
    font-size: 13px;
    font-weight: 700;
    color: rgb(173, 181, 189);
}

.textSix h1 {
    font-size: 40px;
    font-weight: 900;
    color: black;
}

.textSix p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(128, 128, 128);
    line-height: 27px;
    text-align: center;
}

@media screen and (min-width:300px) and (max-width:576px) {


    .headerTop {
        display: none;
    }

    .contBtm nav {
        display: none;
    }



    .bar {
        display: block;
    }

    .write {
        width: 100%;
    }

    .write h1 {
        font-size: 40px;
    }

    .btn {
        flex-direction: column;
        width: 100%;

    }

    .btnOne {
        width: 100%;
    }

    .btnTwo {
        width: 100%;
    }

    #secThree .textOne {
        width: 90%;

    }

    .box {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .card .btnn {
        width: 100%;
    }

    .contFive {
        width: 100%;
    }

    .textFive {
        width: 100%;
    }

    .inp {

        width: 100%;

    }

    .textFive button {
        width: 40%;
        font-size: 12px;
    }

    .textFive h2 {
        font-size: 30px;
        text-align: center;
    }

    #secSix .textSix {
        width: 90%;
        text-align: center;

    }
}